BOT_TOKEN=
BOT_USERNAME=
MONGODB_URI=
CHANNEL_ID=
CHANNEL_USERNAME=
CHANNEL_JOIN_URL=
ADMIN_IDS=
BASE_URL=
WEBHOOK_SECRET=
CRON_SECRET=
NODE_ENV=development
PORT=3000
TIMEZONE=Asia/Tehran
UPLOAD_DIR=uploads
